<div style="display: flex; justify-content: space-between">
    <div style="display: flex; justify-content: flex-start">
        <p style="margin: 10px 15px"><a href='{% url 'main_page' %}'>Главная</a></p>
        <p style="margin: 10px 15px"><a href='{% url 'group_list' %}'>Группы</a></p>
        {% if user.is_authenticated %}
        <p style="margin: 10px 15px"><a href="{% url 'profile' user.username %}">Ваши посты</a></p>
        {% endif %}
    </div>
    <div style="display: flex; justify-content: flex-end">
        {% if user.is_authenticated %}
            <p style="margin: 10px 15px"><a href="{% url 'logout' %}">Выйти</a></p>
        {% else %}
            <p style="margin: 10px 15px"><a href="{% url 'login' %}">Войти</a></p>
            <p style="margin: 10px 15px"><a href="{% url 'signup' %}">Зарегистрироваться</a></p>
        {% endif %}
    </div>
</div>
<hr style="margin: 0 0">
