<div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ author.first_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         {{ author.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: {{ author.follower.count }} <br />
                                            Подписан: {{ author.following.count }}
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                Записей: {{ author.posts.count }}
                                            </div>
                                    </li>
                                    {% if user == author %}
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                    <h4><a href="{% url 'create_post' %}">Создать пост</a></h4>
                                            </div>
                                    </li>
                                    {% else %}
                                        {% if user.is_authenticated %}
                                            <li class="list-group-item">
                                                    {% if following %}
                                                    <form method="post" action="{% url 'unfollow' author.username %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-lg btn-light">
                                                                Отписаться
                                                        </button>
                                                    </form>
                                                    {% else %}
                                                    <form method="post" action="{% url 'follow' author.username %}">
                                                        {% csrf_token %}
                                                        <button class="btn btn-lg btn-primary">
                                                        Подписаться
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endif %}
                            </ul>
                    </div>
            </div>