{% extends 'base.html' %}
{% block content %}

    <h2>{{ title }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if title == 'Редактирование записи' %}
            <p>Slug: {{ post_slug }}</p>
        {% endif %}
        <button>{{ button }}</button>
    </form>
    {% if title == 'Редактирование записи' %}
    <form method="post" action="{% url 'delete_post' post_slug %}">
        {% csrf_token %}
        <button>Удалить запись</button>
    </form>
    {% endif %}


{% endblock %}