<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include 'include/header.html' %}
    {% if group %}
        <h1 style="text-align: center">Группа: {{ group.title }}</h1>
        <p style="text-align: center">Описание: {{ group.description }}</p>
        <h3 style="text-align: center">Все посты группы {{ group }}</h3>
    {% endif %}
    <div style="margin: 50px 300px 0 300px">
        <h3 ><a href="/create_post/">Создать пост</a></h3>
        {% if posts %}
            {% for post in posts %}
                <div>
                    <h1>{{ post.title }} </h1>
                    <p>{{ post.text }}</p>
                        <div style="display: flex">
                            <p style="margin-right: 20px">{{ post.author }}</p>
                            <p>{{ post.published_date }}</p>
                        </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>У данной группы нет постов</h1>
        {% endif %}
    </div>
    {% include 'include/footer.html' %}
</body>
</html>