{% extends 'base.html' %}
{% block content %}
{% if group %}
    <h1 style="text-align: center">Группа: {{ group.title }}</h1>
    <p style="text-align: center">Описание: {{ group.description }}</p>
    <h3 style="text-align: center">Все посты группы {{ group }}</h3>
{% endif %}
<div style="margin: 50px 300px 0 300px">
    <h3 ><a href="/create_post/">Создать пост</a></h3>
    {% if page %}
        {% for post in page %}
            <div>
                <h1>{{ post.title }} </h1>
                <p>{{ post.text }}</p>
                    <div style="display: flex">
                        <p style="margin-right: 20px">{{ post.author }}</p>
                        <p>{{ post.published_date }}</p>
                    </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>Здесь нет постов</h1>
    {% endif %}
{% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator %}
{% endif %}
</div>
{% endblock %}
